@media only screen and (max-device-width: 1000px) {
  .wave-intro {
    display: none;
  }

  .advantage-inner {
    flex-direction: column !important;
  }

  .advantage-text h1 {
    font-size: 30px;
  }

  .advantage-text {
    line-height: 30px;
  }

  img {
    max-width: 80%;
  }

  .adv-image {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .advantage-inner {
    margin-top: 15px !important;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

h1 {
  margin: 0;
}

.advantage-text h1 {
  margin-bottom: 20px;
}

.advantage-inner {
  font-size: x-large;
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;
}

.advantage-inner article {
  font-size: 0.75em;
  width: 50%;
}

.advantage {
  padding-left: 5%;
  padding-right: 5%;
}

.advantages {
  padding: 2%;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
}

.intro-wrapper {
  background-color: #252525;
  display: flex;
  flex-direction: column;
}

.buttons-combo {
  display: flex;
  justify-content: center;
  padding: 1.25%;
}

.button-in-combo {
  outline: none;
  border: none;
  background-color: #127ca4;
  color: white;
  font-size: 20px;
  border-radius: 1em;
  padding: 1%;
}

.intro-hero-wrapper {
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.noscript-wrapper {
  background-color: #252525;
  display: flex;
  justify-content: center;
}

.noscript-wrapper-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 1.5em;
  border: 2px solid #f31818;
  background-color: rgba(255, 0, 0, 0.4);
}

.invite-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
