:root {
  --width-of-embed: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  background-color: #2a2a2a;
  color: white;
  padding: 2%;
}

code,
.xml {
  background-color: #252525;
  border-radius: 0.5em;
  padding: 0.25%;
}

.xml code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

font {
  color: #127ca4;
}

li {
  margin-bottom: 10px;
}

a {
  transition: color 0.3s;
  color: white;
}

a :visited {
  color: white;
}

p :hover {
  transition: color 0.3s;
  color: #127ca4;
}

.xml svg {
  margin-left: 30px;
  margin-top: 10px;
}

.embed {
  width: 30%;
  border-radius: 0.5em;
  padding: 0.25%;
  padding-left: 1%;
  background-color: #2f3136;
}

.noscript-wrapper {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.noscript-wrapper-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 1.5em;
  border: 2px solid #f31818;
  background-color: rgba(255, 0, 0, 0.4);
}

.embed-error {
  border-left: var(--width-of-embed) solid #e74c3c;
}

.embed-succes {
  border-left: var(--width-of-embed) solid #2ecc71;
}

.embed-warn {
  border-left: var(--width-of-embed) solid #e67e22;
}

.embed-examples {
  display: flex;
  flex-direction: column;
}
