@media only screen and (max-width: 1080px) {
  .about {
    flex-direction: column !important;  
  }
}

main {
  background-color: #2a2a2a;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5%;
}

h1,
ol {
  margin: 0;
}

main a, main a:visited {
  color: wheat;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}